<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Jarvis Styleguide</h1>
			<div class="section">
				<h2>Buttons</h2>
				<div class="subsection">
					<h3>Button primary</h3>
					<button type="button" class="btn btn-primary">Primary</button>
					<button type="button" class="btn btn-primary"disabled="disabled">Primary</button>
				</div>
				<div class="subsection">
					<h3>Button default</h3>
					<button type="button" class="btn btn-default">Primary</button>
					<button type="button" class="btn btn-default"disabled="disabled">Run</button>
				</div>
				<div class="subsection">
					<h3>Button element</h3>
				</div>
			</div>
		</div>
	</div>
</div>